<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Бесплатный социальный замок для любого сайта</title>
    <meta name="description" content="Новый сервис социального замка, контент за лайк, заплати лайком. На этой странице вы можете сгенерировать социальный замок для любого сайта совершенно бесплатно."/>
    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="http://generator.sociallocker.ru/"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Бесплатный социальный замок для любого сайта"/>
    <meta property="og:description" content="Новый сервис социального замка, контент за лайк, заплати лайком. На этой странице вы можете сгенерировать социальный замок для любого сайта совершенно бесплатно."/>
    <meta property="og:url" content="http://generator.sociallocker.ru/"/>
    <meta property="og:site_name" content="Социальный Замок"/>
    <script src="assets/js/libs/jquery.min.js"></script>
    <script>
        if( void 0 !== window.jQuery ) {
            window.__$onp = window.jQuery;
        }
    </script>
    <script src="assets/js/libs/trumbowyg/trumbowyg.min.js"></script>
    <script src="assets/js/libs/trumbowyg/langs/ru.min.js"></script>
    <script src="assets/js/libs/trumbowyg/plugins/colors/trumbowyg.colors.min.js"></script>
    <link rel="stylesheet" href="assets/js/libs/trumbowyg/ui/trumbowyg.min.css">
    <script src="assets/js/libs/jquery.ui.highlight.min.js"></script>
    <script src="assets/js/libs/jquery.sortable.min.js"></script>
    <script src="http://cdn.sociallocker.ru/sl-libs/pandalocker.<?=$plugin_build?>.min.js"></script>
    <link type="text/css" rel="stylesheet" href="http://cdn.sociallocker.ru/sl-libs/css/pandalocker.<?=$plugin_build?>.min.css"/>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="assets/js/md5.min.js"></script>
    <script src="assets/js/wizard.min.js"></script>
    <link href="assets/css/wizard.min.css" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>



