<li style="background-color:#5F83AA">
    <label><input type="checkbox" id="slg-btn-vk-like" class="slg-btn-ckeckbox"> Вконтакте мне
        нравится</label>

    <div class="slg-sub-button-setting">
        <p>
            <label for="slg-btn-socialButtons-vk-like-pageUrl"><strong>Url страницы</strong><i
                    class="slg-icon-help"></i>
                <span class="slg-field-hint">Задайте адрес страницы, которой пользователь должен поделиться, чтобы разблокировать скрытый контент. Оставьте это поле пустым, чтобы использовать адрес страницы, где будет установлен Замок.</span>
            </label>
            <input type="text" id="slg-btn-socialButtons-vk-like-pageUrl" placeholder="http://sociallocker.ru"
                   data-default="">
        </p>

        <p>
            <label for="slg-btn-socialButtons-vk-like-pageTitle"><strong>Заголовок</strong><i
                    class="slg-icon-help"></i>
                <span class="slg-field-hint">Необязательно. Заголовок записи.</span>
            </label>
            <input type="text" id="slg-btn-socialButtons-vk-like-pageTitle" data-default="">
        </p>
        <!--<p>
            <label for="slg-btn-socialButtons-vk-like-pageDescription"><strong>Описание</strong><i
                    class="slg-icon-help"></i>
                <span class="slg-field-hint">Необязательно. Описание, которые отображается под ссылкой. Если не указано, это поле заполняется автоматически, обычно используется заголовок страницы.</span>
            </label>
            <textarea id="slg-btn-socialButtons-vk-like-pageDescription" data-default=""></textarea>
        </p>-->
        <p>
            <label for="slg-btn-socialButtons-vk-like-pageImage"><strong>Изображение</strong><i
                    class="slg-icon-help"></i>
                <span class="slg-field-hint">Необязательно. Ссылка на картинку. Изображение будет добавлено к записи. Картина должна быть не менее 50px на 50px (рекомендуется 200px на 200px). Соотношение сторон не более 3:1.</span>
            </label>
            <input type="text" id="slg-btn-socialButtons-vk-like-pageImage" data-default="">
        </p>

        <p>
            <label for="slg-btn-socialButtons-vk-like-title"><strong>Текст кнопки</strong><i
                    class="slg-icon-help"></i>
                <span class="slg-field-hint">Необязательно. Название кнопки, расположенное на обложке, используются в некоторых темах (по умолчанию только в Secrets и Flat).</span>
            </label>
            <input type="text" id="slg-btn-socialButtons-vk-like-title" value="мне нравится"
                   data-default="мне нравится">
        </p>
    </div>
    <div class="slg-btn-edit"></div>
    <div class="slg-btn-move"></div>
</li>
